/* Set margin, flex properties, height, and background color for the body */
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../resources/images/background/Background2.jpg"); /* source: https://www.artstation.com/artwork/Zaoxd8 */
    background-size: contain;
    background-position: left;
}

/* Add border to the canvas element */
canvas {
    border: 1px solid #fff; /* 1 pixel solid white border */
}


